*decrypted~*
*reverse-proxy.nix.save
*wireguard.nix
profiles/hardware-configuration.nix
secrets-versions/*
users/shared/files/for-reference_kde-config
dev.code-workspace
*.kate-swp
*.kismet
flake.nix
